body {
  margin: 0;
  padding: 0;
  font-family: 'Adelle', serif;
  color: rgb(0, 0, 0);
  background-color: #7f7dbf;
}

/*
 * Formatting the header area
 */

header {
  background-color: #413f7e;
  height: 35px;
  width: 100%;
  margin-bottom: 10px;
}

header h1.logo {
  margin: 0;
  font-size: 1.7em;
  color: #f1f1f1;
  float: left;
}

/*
 * Center the body content
 */

.container {
  width: 1200px;
  margin: 0 auto;
}

div.home {
  padding: 20px;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

p {
  margin: 0;
}

h1 {
  margin: 0;
}

h2 {
  font-size: 3em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
}

h3 {
  font-size: 1.7em;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  color: rgb(14,9,9);
}

.menu {
  float: right;
  margin-top: 8px;
}

.menu li {
  display: inline;
}

.menu li + li {
  margin-left: 35px;
}

.menu li a {
  color: #ffffff;
  text-decoration: none;
}


.seats {
  padding: 10px;
  background-color: #67acd3;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.cls-1,.cls-2 {
  fill:rgb(208, 228, 255);
  stroke:#000;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-width:0.25px;
}

.cls-2 {
  fill-rule:evenodd;
}

.big-label {
  color: #130cca;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 3;
}

.little-label {
  font-family: 'Adelle', serif;
  color: #000000;
}

.note {
  font-weight: 300;
  color: #808080;
  font-size: .9em;
}

.continue {
  background-color: #1674d7;
  color: #fff;
  font-size: 1.1em;
  border: 1px solid #1674d7;
  border-radius: 30px;
  padding: 5px 15px;
  font-family: 'Adelle', serif;
}

.radio-label {
  color: #000;
  font-size: 1em;
}

.inline-input {
  margin-left: 10px;
}

hr {
  color: #808080;
}

span.button {
  display: flex;
  justify-content: flex-end;
}

td {
  text-align: center;
}

.form-container {
  display: flex;
}

.seatInput {
  width: 60px;
  height: 60px;
  text-align: center;
  display:flex;
  align-items:center;
  vertical-align: middle;
  z-index:3;
  color: #000;
  margin-top: -60px;;
  font-family:'Adelle', sans-serif;
  background:transparent;
  border:none;
  font-weight: 400;
  font-size: 14pt;
}

.seatInput:hover, .continue:hover {
  cursor: pointer;
}

svg {
  display: flex;
}