{% extends "layout.html" %}
{% block content %}
<div class="home">
    <h1>Propylaeum</h1>
    <p>To generate your venue diagram, please enter the requested information below.</p>
    <hr width='100%'>
    <form action="{{ url_for('seats') }}" method='post'>
        <label class='big-label'>Section Information</label><br>
        <label class='little-label'>Venue Name: <input type='text' name='venueName'></label><br>
        <label class='little-label'>Section Name: <input type='text' name='sectionName'></label><br>
        <hr width='100%'>

        <label class='big-label'>Row Information</label><br>
        <label class='little-label'>How many rows are in this section?<input class='inline-input' type='text' name='rowCount'></label><br><br>

        <label class='little-label'>How are rows in this section labeled?
            <select class='inline-input' name='rowTaxonomy'>
                <option selected disabled>--Select--</option>
                <option value='alpha'>Alphabetical ( A, B, C )</option>
                <option value='numeric'>Numerical ( 1, 2, 3 )</option>
                <option value='none'>Not Labeled</option>
            </select>
        </label><br>
        <span class='note'>Most venues identify their rows by number [ 1, 2, 3 ] or letter [ A, B, C ].</span><br><br>
        
        <label class='little-label'>What is the label for your first row?<input class='inline-input' type='text' name='firstRow'></label><br>
        <span class='note'>If your labels are “Numerical”, enter a number. If your labels are “Alphabetical”, enter a letter.</span><br>
        <span class='button'><input class='continue' type='submit' value='Continue'></span>
        </form>
</div>
{% endblock %}
