{% extends "layout.html" %}
{% block content %}
<div class="home">
    <h1>Venue Name</h1>
    <p><span>Please verify that the following information is correct. If it is not, you may change it by changing the input.</span>
      <form action="{{ url_for('seatForm') }}" method='post'>
        <div class='form-container'>
            <div class='area-1'>
                <table>
                    <tr><th style="text-align:center;font-weight:bold;">Row</th></tr>
                        {{formArea}}
                </table><br>
            </div>
            <div class='area-2'>
            </div>
        </div>
        <span class='button'><input class='continue' type='submit' value='Save Venue'></span>
    </form>
    </p>
</div>
{% endblock %}
